# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# image files
*.img
*.fat32
*.ext4
*.ext3
*.ext2
*.rpm
*.pkg.*
*.deb

# Build dirs
dl/
build/

.vscode
